@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --text: #242424;
    --background: #fff6f0;
    --primary: #f79e78;
    --secondary: #1f1c19;
    --accent: #ff773d;
  }
  .dark {
    transition-duration: 500ms;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --text: #fff6f0;
    --background: #242424;
    --primary: #f79e78;
    --secondary: #fff6f0;
    --accent: #ff773d;
  }
}

.main-box-dark-shadow {
  box-shadow: -1px 1px 100px 1px rgba(30, 30, 30, 0.25),
    1px 0px 100px 1px rgba(30, 30, 30, 0.25);
}

.main-box-light-shadow {
  box-shadow: -1px 1px 100px 1px rgba(255, 246, 240, 0.1),
    1px 0px 100px 1px rgba(255, 246, 240, 0.1);
}
