@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --text: #242424;
    --background: #fff6f0;
    --primary: #f79e78;
    --secondary: #1f1c19;
    --accent: #ff773d;
  }
  .dark {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --text: #dbdbdb;
    --background: #0f0600;
    --primary: #872e08;
    --secondary: #e6e3e0;
    --accent: #c23a00;
  }
}
