@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@layer base {
  :root {
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --text: #242424;
    --background: #fff6f0;
    --primary: #f79e78;
    --secondary: #1f1c19;
    --accent: #ff773d;
  }
  .dark {
    transition-duration: 500ms;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --text: #fff6f0;
    --background: #242424;
    --primary: #f79e78;
    --secondary: #fff6f0;
    --accent: #ff773d;
  }
}
